// main: ../styles.sass
@import ../variables
#dashboard
  background: $bg-grey
.hidden
  display: none!important

.overlay, #popup
  position: absolute
  top: 0!important
  left: 0
  right: 0
  bottom: 0
  background: #56ab2f
  background: -webkit-linear-gradient(to left, #56ab2f , #a8e063)
  background: linear-gradient(to left, #56ab2f , #a8e063)
  opacity: .7
  border-radius: $radius
  p
    color: $white
    font-size: 4em
    font-family: $heading-font
    font-weight: 400
    position: relative
    top: 50%
    text-align: center
    padding: 0 3%
    transform: translateY(-50%)
#popup
  opacity: 1!important
  z-index: 14
#issues.panel
  padding: 0
  & > p
    padding: 15px 20px
    font-size: .9em
  h2
    font-size: 1.4em
    font-family: $heading-font
    font-weight: 400
    background: $green
    color: $white
    padding: 15px 20px
    border-top-left-radius: 5px
    border-top-right-radius: 5px
  li
    border-bottom: 2px solid $bg-grey
    padding: 10px 20px
    h3
      font-size: 1.3em
      font-family: $heading-font
      font-weight: 400
    p
      font-size: .9em
