// main: ../styles.sass
@import ../variables
#dashboard
  background: $bg-grey
.hidden
  display: none!important
#issues.panel
  padding: 0
  & > p
    padding: 15px 20px
    font-size: .9em
  h2
    font-size: 1.4em
    font-family: $heading-font
    font-weight: 400
    background: $green
    color: $white
    padding: 15px 20px
    border-top-left-radius: 5px
    border-top-right-radius: 5px
  li
    border-bottom: 2px solid $bg-grey
    padding: 10px 20px
    h3
      font-size: 1.3em
      font-family: $heading-font
      font-weight: 400
    p
      font-size: .9em
