// main: ../styles.sass
@import ../variables

button, a
  text-align: center
  -webkit-appearance: none
  -moz-appearance: none
  appearance:  none
  padding: 0.5em 2.5em
  font-family: $button-font
  font-size: 1.5em
  cursor: pointer
  margin: 0.8em 0
  &.green-button
    background: $green
    color: $white
    border-radius: $radius
    border: 1px solid $green
    display: block
    float: left
    text-decoration: none
  &.white-button
    background: $white
    color: $green
    border-radius: $radius
    border: 1px solid $white
    display: block
    float: left
    text-decoration: none
