// main: ../styles.sass
@import ../variables
.checkbox
  display: block
  float: left

input[type="checkbox"]
  display: none!important
  + label
    padding: 10px 5px
    display: block
    border-radius: $radius
    margin: 0 5px
    cursor: pointer
input[type="checkbox"]:checked
  + label
      background: $green
      color: $white

input[type="text"]
  border: 2px solid $bg-grey
  background: $bg-grey
  border-radius: $radius
  display: block
  float: left
  width: 100%
  font-size: 1.1em
  padding: 10px 15px
  margin: 10px 0
